.dj-section__swiper {
    padding-top: 20px;
    padding-bottom: 20px;
}
.dj-container__swiper {
    width: 100%;
    margin: auto;
    .dj-section__links {
        display: inline-block;
        li {
            display: inline-block;
            vertical-align: top;
            margin-right: 30px;
            a {
                color: var(--color-body-2);
                &:hover {
                    color: var(--color-body-2);
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .dj-section__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: var(--title-position);
        align-items: center;
        padding: 16px 10px;
        padding-bottom: 0px;
        background-color: #f4f4f4;
        border-bottom: var(--border-bottom);
        h3,
        .title__h3 {
            margin-bottom: 0;
            display: inline-block;
            font-size: var(--title-size);
            font-weight: 700;
            line-height: 1;
            color: var(--color-text-title);
        }
        h4,
        .title__h4 {
            font-weight: 700;
            font-size: var(--title-size);
            color: var(--color-text-title);
        }
    }
    .dj-section__header__center {
        flex-direction: column;
    }
    .dj-section__header__white {
        background-color: transparent !important;
        h3,
        .title__h3 {
            font-weight: 600 !important;
        }
    }
    .dj-section__content {
        padding-top: 20px;
    }
    &--2 {
        .dj-section__header {
            background-color: transparent;
            border-bottom: 1px solid #e1e1e1;
            h3,
            .title__h3 {
                font-size: 24px;
                font-weight: 600;
            }
        }
    }
    @include media('<lg') {
        .dj-section__header {
            flex-flow: row wrap;
        }
    }
    @include media('<md') {
        .dj-section__header {
            h3,
            .title__h3 {
                padding-bottom: 10px;
            }
        }
    }
}

.swipper-text__content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white !important;
    }
}
