.dj-block--stat {
    display: flex;
    border: var(--border-block-stat);
    justify-content: space-between;
    align-items: center;
    width: 290px;
    height: 98px !important;
    border-radius: var(--radius-block-stat);
    box-shadow: var(--shadow-block-stat);
    background-color: var(--background-block-stat);
    > * {
        flex-basis: 100%;
    }
    p {
        text-align: left;
        margin-bottom: 0 !important;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        //color: var(--color-body);
        color: #4d4d4f;
    }
    h4,
    .title__h4 {
        margin-bottom: 0;
        text-align: left;
        font-family: var(--font-2nd) !important;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        small {
            margin-left: 0.5em;
            font-size: 14px;
        }
        i {
            margin-right: 0.25em;
        }
        span {
            font-weight: 600;
        }
    }
    .dj-block__left {
        max-width: 53px;
        margin-right: 17px;
        span {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            width: 53px;
            height: 53px;
            border-radius: 10px;
            background-color: var(--iconBgColor-block-stat);
        }
        i {
            color: var(--iconColor-block-stat);
            font-size: 50px;
        }
    }
    .dj-block__content {
        //padding-left: 12px;
        width: 162.34px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &:hover {
        border: var(--borderActive-block-stat);
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    }
}
