.block-order {
    border: 0px solid #999999;
    border-radius: 4px;
}

.dj-btn__order {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.order-button__area {
    padding: 5px;
}

.dj-section__order {
    .inline-block {
        display: inline-block !important;
    }
    .table {
        width: auto;
        border: none;
        margin-bottom: 0px;
        font-size: 0.85em;
        border-radius: 4px 4px 0 0;
    }
    .table-full {
        width: 100%;
    }
    .table-full__white {
        background-color: white;
    }
    .table thead {
        color: #666;
        border: none;
    }
    .table tbody {
        border: none;
    }
    .table tr {
        padding: 20px 10px;
        border: none;
    }
    .table td {
        padding: 15px 20px;
        text-align: center;
    }
    .table th {
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        border: none;
        color: var(--color-body);
        padding: 15px 20px;

        // &:first-child {
        //     text-align: left;
        // }
        // &:last-child {
        //     text-align: left;
        // }
    }
    .dj-section__header {
        //padding: 0px 0;
        //text-align: left;
        background-color: #efefef;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px;
        background-color: #f4f4f4;
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 0px !important;
        margin-bottom: 15px !important;
        h4,
        .title__h4 {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 5px;
        }
        p {
            color: var(--color-body-2);
            font-size: 16px;
            max-width: 860px;
            margin: 0 auto 5px;
        }
    }
    .dj-section__links {
        background-color: #f5f5f5;
        text-align: center;
        padding: 20px 0;
        margin-bottom: 45px;
        li {
            display: inline-block;
            margin-right: 30px;
            a {
                font-size: 18px;
                font-weight: 600;
                color: var(--color-body-2);
                line-height: 20px;
                &:hover {
                    color: var(--color-body);
                }
            }
            &:last-child {
                margin-right: 0;
            }
            &.active {
                a {
                    color: var(--color-body);
                }
            }
        }
    }
    @include media('<sm') {
        .dj-section__header {
            padding: 60px 0;
            h3,
            .title__h3 {
                font-size: 36px;
            }
            p {
                font-size: 14px;
            }
        }
        .dj-section__links {
            li {
                margin-bottom: 4px;
                a {
                    font-size: 16px;
                }
            }
        }
    }
    @include media('<xs') {
        .dj-section__header {
            padding: 50px 0;
            h3,
            .title__h3 {
                margin-bottom: 20px;
                font-size: 28px;
            }
        }
    }
}

.dj-page--account {
    @media (max-width: 640px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.dj-block--invoice {
    margin-bottom: 30px;
    figcaption {
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-size: 16px;
        font-weight: 600;
        border-bottom: 1px solid #eaeaea;
        color: var(--color-body);
    }
}
