.dj-block--questions-answers {
    h3,
    .title__h3 {
        margin-bottom: 30px;
        font-weight: 700;
        color: var(--color-body);
        font-size: 30px;
    }
    .form-control {
        font-size: 18px;
    }
}

.v-tabs-slider {
    color: var(--color-text-title) !important;
}

.tab_title {
    font-weight: 400 !important;
    color: var(--color-body-2);
}
