.dj-form--review {
    h4,
    .title__h4 {
        margin-bottom: 20px;
        display: block;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2em;
        text-transform: uppercase;
    }

    p {
        sup {
            margin-left: 5px;
            color: var(--color-danger);
        }
    }

    .form-group__rating {
        display: flex;
        align-items: center;

        label {
            margin-bottom: 0;
            line-height: 20px;
            margin-right: 15px;
        }

        .br-wrapper {
            line-height: 20px;

            a {
                font-size: 14px;
            }

            &.br-theme-fontawesome-stars {
                .br-widget {
                    height: auto;
                    line-height: 20px;
                }
            }
        }
    }

    .form-control {
        border-radius: 0;
    }

    button {
        border-radius: 0;
        font-weight: 600;
    }
}
