//var(--color-primary): #fc3b00;
//var(--color-primary)-lighter: lighten(var(--color-primary), 20%);
//var(--color-primary)-light: lighten(var(--color-primary), 10%);
//var(--color-primary)-dark: darken(var(--color-primary), 10%);
//var(--color-primary)-darker: darken(var(--color-primary), 20%);

//var(--color-success): #00C9A7;
//var(--color-success)-lighter: lighten(var(--color-success), 20%);
//var(--color-success)-light: lighten(var(--color-success), 10%);
//var(--color-success)-dark: darken(var(--color-success), 10%);
//var(--color-success)-darker: darken(var(--color-success), 20%);
$color-info: #96ed89;
$color-info-lighter: lighten($color-info, 20%);
$color-info-light: lighten($color-info, 10%);
$color-info-dark: darken($color-info, 10%);
$color-info-darker: darken($color-info, 20%);
$color-warning: #faa806;
$color-warning-lighter: lighten($color-warning, 20%);
$color-warning-light: lighten($color-warning, 10%);
$color-warning-dark: darken($color-warning, 10%);
$color-warning-darker: darken($color-warning, 20%);
//var(--color-danger): #EC2434;
//var(--color-danger)-lighter: lighten(var(--color-danger), 20%);
//var(--color-danger)-light: lighten(var(--color-danger), 10%);
//var(--color-danger)-dark: darken(var(--color-danger), 10%);
//var(--color-danger)-darker: darken(var(--color-danger), 20%);
$color-border: #e4e4e4;
$color-border-lighter: lighten($color-border, 20%);
$color-border-light: lighten($color-border, 10%);
$color-border-dark: darken($color-border, 10%);
$color-border-darker: darken($color-border, 20%);
$color-text: #666666;
$color-text-lighter: lighten($color-text, 20%);
$color-text-light: lighten($color-text, 10%);
$color-text-dark: darken($color-text, 10%);
$color-text-darker: darken($color-text, 20%);
$color-contrast: #fff;
$color-contrast-lower: darken($color-contrast, 5%);
$color-contrast-low: darken($color-contrast, 17%);
$color-contrast-medium: darken($color-contrast, 52%);
$color-contrast-high: darken($color-contrast, 80%);
$color-contrast-high: darken($color-contrast, 88%);
$color-heading: #222;
$color-dark: #000;
$color-bg-sidebar: #f1f2f6;
