.dj-product__infos {
    margin-left: 10px;
    .dj-product__div__title {
        margin-top: 0px;
        a {
            font-weight: 500;
        }
        .dj-product__title {
            font-size: 14px !important;
            font-weight: 700 !important;
            margin: 0;
            display: block;
            //font-size: 1em;
            line-height: 1.2em;
            padding-bottom: 5px;
            padding-left: 0;
            color: var(--color-text-title, #000);
            --max-lines: 2;
            max-height: calc(1.2em * var(--max-lines));
            overflow: hidden;
            padding-right: 1rem;
            &:hover {
                color: var(--color-text-title);
                text-decoration: underline;
            }
        }
    }
    .dj-product__small-info {
        font-size: 12px;
        color: #666666;
        font-weight: 400;
    }
    .dj-product__small-info_value {
        font-size: 12px;
        color: #666666 !important;
        font-weight: 700;
    }
}
