.dj-dropdown {
    position: relative;
    display: inline-block;

    > a {
        position: relative;
        display: block;
        padding-right: 20px;

        &:after {
            content: '\e93a';
            font: normal normal normal 12px/1 linearicons;
            @include vertical-align();
            right: 0;
        }
    }

    ul {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 100;
        min-width: 120px;
        max-width: 200px;
        width: 100%;
        padding: 4px 0;
        background-color: #fff;
        @include box-shadow(0 1px 1px 2px rgba(#ccc, 0.2));
        @include hidden;
        text-align: left;

        li {
            list-style-type: none;
            margin: 0;
            padding: 0;

            a {
                display: block;
                font-size: 1.3rem;
                padding: 6px 10px;
            }
        }
    }

    &:hover {
        ul {
            @include show;
        }
    }

    &.open {
        ul {
            @include show;
        }
    }
}

.dj-dropdown {
    ul {
        background-color: #fff;
        @include box-shadow(0 1px 1px 2px rgba(#ccc, 0.2));
        li {
            a {
                color: var(--color-body);
            }
        }
    }
}
