.dj-form--quick-search {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    width: 100%;

    .dj-form__categories {
        position: relative;
        background-color: #fff;
        max-width: 180px;
        vertical-align: top;
        &:after {
            content: '\e93a';
            @include vertical-align();
            right: 8px;
            font-family: 'Linearicons';
            font-size: 12px;
        }
        select.form-control {
            padding-right: 30px;
            height: 40px;
            border-radius: 4px 0 0 4px;
            @include appearance(none);
        }
    }

    .form-control {
        background-color: #fff;
        color: var(--color-body);

        height: 42px;
        border: none;
        border-radius: var(--border-radius-button) 0 0 var(--border-radius-button);
    }

    .form-group--icon {
        background-color: #ffffff;
        border-radius: 4px 0 0 4px;

        i {
            z-index: 1;
        }
    }

    select.form-control {
        border-right: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        padding: 0 10px;
        text-indent: 10px;
        position: relative;
        z-index: 2;
        background-color: transparent;
        @include placeholder() {
            color: rgba(102, 102, 102, 1);
        }
    }

    button {
        border: none;
        font-weight: 700;
        padding: 0 24px;
        border-radius: 0 var(--border-radius-button) var(--border-radius-button) 0;
    }

    .dj-panel--search-result {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 999;
        background-color: #fff;
        border: 1px solid #eaeaea;
        /*padding: 10px 20px;*/
        @include transform(scale3d(1, 1, 0));
        transition: all 0.4s ease;
        opacity: 0;
        visibility: hidden;
        .dj-panel__content {
            max-height: 400px;
            overflow-y: auto;
            .dj-panel__content__result {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #eaeaea;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .dj-panel__content__withoffers {
            border-right: 1px solid #eaeaea;
        }

        &.active {
            @include transform(scale3d(1, 1, 1));
            opacity: 1;
            visibility: visible;
        }

        .dj-product {
            padding-bottom: 5px;
            border: none;
            border-radius: 0px;
            border-bottom: 1px solid #eaeaea;
        }
    }
}

.form-group {
    margin-bottom: 2.5rem;

    > label {
        margin-bottom: 1.5rem;
        font-weight: 400;
        color: #000000;
        line-height: 1em;
    }

    .v-input--checkbox {
        margin-top: 0;
        label {
            margin-bottom: 0;
        }
    }
}

.dj-panel--sidebar {
    position: relative;
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
    @extend %list-reset;

    .dj-panel__header {
        position: relative;
        text-align: center;
        padding: 15px 20px;

        h3,
        .title__h3 {
            margin-bottom: 0;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }

        .dj-panel__close {
            @include vertical-align();
            right: 10px;
            font-size: 16px;
            color: white;
        }
    }

    .dj-panel__content {
        padding: 10px;
    }
}

.dj-panel--sidebar {
    .dj-panel__header {
        background-color: var(--header-color-font);
        h3,
        .title__h3 {
            color: #ffffff;
        }
    }
}

.dj-product__autocomplete_offer {
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    padding: 5px;
    width: 100%;
}

.dj-product__autocomplete_offer {
    border-bottom: 0px solid #eaeaea;
}
