.ps-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #fff;
    flex-flow: row nowrap;
    @include transition(all 1s $timing-1);
    &__content {
        height: 100vh;
        display: flex;
        flex-flow: row nowrap;
        > * {
            display: block;
            width: 25%;
            @include transition(transform 1s $timing-1);
            @include transform-origin(0 50%);
            background-color: #fcfaf6;
        }
    }
    &.loaded {
        @include hidden;
        background-color: transparent;
        @include transition-delay(0.7s);
        .ps-loading__content {
            > * {
                @include transform(scale3d(0, 1, 1));

                @include transition-delay(0.5s);
            }
        }
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
