.dj-client-say {
    padding: 70px 0;
    background-color: #f5f5f5;
    .dj-section__header {
        margin-bottom: 30px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        h3,
        .title__h3 {
            display: inline-block;
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;
        }
    }
    .ps-section__nav {
        a {
            display: inline-block;
            margin-right: 20px;
            font-size: 18px;
            color: #999999;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                color: var(--color-body);
            }
        }
    }
    .slick-slide {
        padding: 0 15px;
    }
}
.dj-block--testimonial {
    margin-top: 50px;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    padding: 0 40px;
    .dj-block__header {
        position: relative;
        top: -45px;
        margin-bottom: -45px;
        z-index: 10;
        img {
            position: relative;
            max-height: 90px;
            border-radius: 50%;
            z-index: 10;
        }
    }
    .dj-block__content {
        position: relative;
        padding: 60px 0 40px;
        > i {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 40px;
            color: var(--color-primary);
        }
        h4,
        .title__h4 {
            font-size: 18px;
            font-weight: 600;
            span {
                margin-left: 10px;
                font-size: 14px;
                color: #999999;
            }
        }
    }
    @include media('<md') {
        .dj-block__content {
            padding-top: 30px;
        }
    }
    @include media('<md') {
        justify-content: flex-start;
        .dj-block__item {
            max-width: 50%;
            max-width: 33.33333%;
        }
    }
    @include media('<sm') {
        .dj-block__content {
            > i {
                display: none;
            }
        }
    }
    @include media('<xs') {
        padding: 30px 20px;
    }
}

.dj-block--testimonial {
    background-color: #ffffff;
    .dj-block__content {
        > i {
            color: var(--color-primary);
        }
        h4,
        .title__h4 {
            span {
                color: #999999;
            }
        }
    }
}
