.dj-form--order-tracking {
    max-width: 630px;
    margin: 0 auto 50px;

    .form-group {
        margin-bottom: 30px;

        > label {
            font-size: 18px;
            font-weight: 600;
            color: var(--color-body);
        }

        input {
            border-color: #bfbfbf;
            @include placeholder() {
                color: #a9a9a9;
            }
        }
    }

    @include media('<md') {
        .form-group {
            > label {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}

.dj-order-tracking {
    padding: 100px 0;
    .dj-section__header {
        text-align: center;
        padding-bottom: 80px;
        h3,
        .title__h3 {
            margin-bottom: 40px;
            font-size: 48px;
            font-weight: 600;
            line-height: 1em;
        }
        p {
            max-width: 960px;
            margin: 0 auto;
            font-size: 16px;
        }
    }
    @include media('<md') {
        padding: 75px 0;
        .dj-section__header {
            padding-bottom: 60px;
            h3,
            .title__h3 {
                margin-bottom: 20px;
                font-size: 36px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    @include media('<sm') {
        padding: 60px 0;
    }
    @include media('<xs') {
        .dj-section__header {
            padding-bottom: 40px;
        }
        padding: 50px 0;
    }
}
