.dj-about-awards {
    padding: 120px 0;
    background-color: #f5f5f5;
    .dj-section__header {
        max-width: 820px;
        margin: 0 auto 100px;
        h4,
        .title__h4 {
            margin-bottom: 65px;
            font-size: 36px;
            color: var(--color-body);
            font-weight: 400;
        }
        p {
            font-size: 18px;
            line-height: 1.6em;
        }
    }
    .dj-section__content {
        .owl-slider {
            a {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
            }
        }
    }
    @include media('<lg') {
        padding: 100px 0;
    }
    @include media('<md') {
        padding: 80px 0;
    }
    @include media('<sm') {
        padding: 70px 0;
        .dj-section__header {
            h4,
            .title__h4 {
                margin-bottom: 50px;
                font-size: 24px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    @include media('<xs') {
        padding: 50px 0;
    }
}
