.dj-form--contact-us {
    .form-control {
        background-color: #ffffff;
    }

    .submit {
        text-align: center;

        button {
            height: 50px;
            padding: 0 30px;
        }
    }
}

.dj-contact-form {
    //padding: 100px 0;
    background-color: #ffffff;
    h3,
    .title__h3 {
        margin-bottom: 90px;
        text-align: center;
        font-size: 36px;
        font-weight: 600;
        color: var(--color-body);
        line-height: 1em;
    }
    @include media('<md') {
        h3,
        .title__h3 {
            font-size: 24px;
        }
    }
    @include media('<xs') {
        h3,
        .title__h3 {
            font-size: 20px;
        }
    }
}

#contact-map {
    height: 100vh;
}
