.dj-contact-info {
    //padding: 90px 0;
    margin-top: 5rem;
    h3,
    .title__h3 {
        margin-bottom: 60px;
        text-align: center;
        font-size: 36px;
        font-weight: 600;
    }
    @include media('<md') {
        padding: 60px 0;
        h3,
        .title__h3 {
            font-size: 24px;
        }
    }
    @include media('<xs') {
        padding: 45px 0;
        h3,
        .title__h3 {
            font-size: 20px;
        }
    }
}

.dj-block--contact-info {
    max-width: 270px;
    margin: 0 auto 50px;
    text-align: center;
    h4,
    .title__h4 {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 20px;
        color: var(--color-body);
    }
    p {
        a {
            display: block;
        }
    }
}
