.customizer {
    width: 400px;
    left: -400px;
    padding: 0;
    background-color: #ffffff;
    opacity: 0.95;
    z-index: 7;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    transition: left 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
    backface-visibility: hidden;
    border-left: 1px solid rgba(#000000, 0.05);
    padding-bottom: 30px;
    &.open {
        box-shadow: 0 15px 30px 0 rgba(#000000, 0.11), 0 5px 15px 0 rgba(#000000, 0.08);
        left: 0;
    }
    // customizer content height
    .customizer-content {
        overflow: scroll;
        position: relative;
        height: calc(100% - 100px);
    }
    .customizer-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    //customizer close button
    .customizer-close {
        position: absolute;
        right: 0.6rem;
        top: 0.6rem;
        padding: 7px;
        width: auto;
        z-index: 10;
        color: #5e5873;
        i,
        svg {
            font-size: 1.5rem;
            height: 1.5rem;
            width: 1.5rem;
        }
    }
    // customizer toggle icon
    .customizer-toggle {
        background: #00cfe8;
        color: #ffffff !important;
        display: block;
        box-shadow: -3px 0px 8px rgba(#000000, 0.1);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        position: absolute;
        top: 50%;
        width: 38px;
        height: 38px;
        left: 399px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
    }
    // theme color box styles
    .color-box {
        height: 24px;
        width: 24px;
        margin: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        position: relative;
        &.selected {
            &:after {
                content: '';
                border: 1px solid #00cfe8;
                height: 30px;
                width: 30px;
                top: -3px;
                left: -3px;
                position: absolute;
                border-radius: 0.5rem;
            }
            &.border {
                &:after {
                    top: -4px;
                    left: -4px;
                }
            }
        }
    }
}

.form-group {
    margin-bottom: 2.5rem;

    > label {
        margin-bottom: 1.5rem;
        font-weight: 400;
        color: #000000;
        line-height: 1em;
    }

    .v-input--checkbox {
        margin-top: 0;
        label {
            margin-bottom: 0;
        }
    }
}

.v-text-field {
    &.ps-text-field {
        > .v-input__control {
            > .v-input__slot {
                position: relative;
                min-height: 40px !important;
                max-height: 100px;
                fieldset {
                    border-radius: 0;
                    border-color: #ccc;
                }
            }
        }
        &.v-input--is-focused {
            > .v-input__control {
                > .v-input__slot {
                    fieldset {
                        border-width: 1px;
                    }
                }
            }
        }
    }
}

.v-list-item {
    .v-list-item__title {
        font-size: 14px !important;
    }
}

.ma-0 {
    margin: 0;
}

.form-control {
    outline: none;
    height: 50px;
    font-size: 14px;
    padding: 0 20px;
    border: none;
    height: 50px;
    background-color: transparent;
    border-radius: 0;
    transition: all 0.4s ease;
    background-color: transparent;
    border: 1px solid #dddddd;
    box-shadow: 0 0 rgba(#000, 0);
    transition: all 0.4s ease;
    box-shadow: 0 0 0 #000;
    @include placeholder() {
        opacity: 1;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 #000;
        border-color: var(--color-primary);
    }
}

.v-text-field {
    &.ps-text-field {
        > .v-input__control {
            > .v-input__slot {
                position: relative;
                min-height: 40px !important;
                max-height: 100px;
                fieldset {
                    border-radius: 0;
                    border-color: #ccc;
                }
            }
        }
        &.v-input--is-focused {
            > .v-input__control {
                > .v-input__slot {
                    fieldset {
                        border-width: 1px;
                    }
                }
            }
        }
    }
}

.v-text-field {
    &.ps-text-field {
        > .v-input__control {
            > .v-input__slot {
                fieldset {
                    border-color: #ccc;
                }
            }
        }
        &.v-input--is-focused {
            > .v-input__control {
                > .v-input__slot {
                    fieldset {
                        border-color: var(--color-primary);
                    }
                }
            }
        }
    }
}

.v-list-item {
    .v-list-item__title {
        font-size: 14px !important;
    }
}
.round-product {
    border: 1px solid #00000061;
    padding: 5px 0 0 5px;
}

.round-product {
    border: 1px solid #00000061;
    border-radius: var(--border-radius-card);
}
