@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

:root {
    --font-1st: 'Roboto', sans-serif;
    --font-2nd: 'Roboto', sans-serif;
    --document-font-size: 14px;
    --shadow-card: 0 0.9rem 0.9rem rgb(0 0 0 / 5%);
    --border-card: 0px solid grey;
    --color-1st: orange;
    --color-text-title: #040037;
    --color-link: #0f1111;
    --color-success: #669900;
    --color-danger: #ec0101;
    --color-grey: #ebebeb;
    --color-title-user-information: #e9e7e7;
    --header-color-font-hover: black;
    --header-notif-font-color: white;
    --header-search-button-font-color: white;
    --header-color-border-search: #e1e1e1;
    --header-color-border-bottom: #e1e1e1;
    --color-primary: #005bd8;
    --color-secondary: #2d509e;
    --background-global: #f9f9f9;
    --color-text-title: #040037;
    --color-body: #000000ff;
    --color-body-2: #666;
    --color-link: #424242ff;
    --header-backgroud-color: #2d509e;
    --header-color-font: #fff;
    --header-color-font-hover: rgb(225, 225, 225);
    --header-notif-background-color: #e75113;
    --header-search-button-background: #005bd8;
    --header-top-background-color: #000;
    --header-bottom-background-color: #8f8d8d71;
    --header-bottom-icon-color: #000;
    --slider-position-top: 70%;
    --slider-position-left: 40%;
    --slider-description-width: 35%;
    --slider-padding-left: 70px;
    --slider-padding-right: 40px;
    --slider-font-color: #fff;
    --slider-font-size-h3: 15px;
    --slider-content-background: #ec407aff;
    --slider-content-radius: 10px;
    --slider-button-background-color: #fff;
    --slider-button-font-color: #000;
    --slider-button-border: 0px solid #000;
    --title-size: 24px;
    --border-bottom: ;
    --title-position: center;
    --background-product-thumbnail: #fff;
    --radius-product-thumbnail: 10px;
    --border-product-thumbnail: transparent;
    --border-product-thumbnail__hover: #d9d9d9;
    --border-interne-product-thumbnail: 1px solid #d9d9d9;
    --border-radius-card: 8px;
    --shadow-card: 0px 2px 4px 1px rgba(105, 105, 105, 0.25);
    --border-card: 0px;
    --background-card-color: #fff;
    --border-radius-button: 49px;
    --background-block-stat: #fff;
    --iconBgColor-block-stat: #fff;
    --iconColor-block-stat: #2d509e;
    --radius-block-stat: 15px;
    --shadow-block-stat: 0px 2px 4px 1px rgba(105, 105, 105, 0.25);
    --border-block-stat: none;
    --borderActive-block-stat: none;
    --price-zone--width: 50%;
    --price-zone--button-width: 95%;
    --product-info--align: flex-start;
    --color-liseret: #e1e1e1;
    --breadscrumb-background: #ffffff;
    --color-default-card-header: #20bcec;
    --border-radius-button-icon: 10px;
    --dj-badge--text-color: #ffffff;
    --dj-badge--border-radius: 0px;
    --dj-badge--padding: 9px 10px;
    --dj-badge--text-size: 11px;
    --dj-badge--font-weight: 700;
    --dj-badge--bg-creating: #66c2ff;
    --dj-badge--bg-do: #ffcc00;
    --dj-badge--bg-doh: #ffb84d;
    --dj-badge--bg-oc: #00cc66;
    --dj-badge--bg-wca: #ff9900;
    --dj-badge--bg-wsa: #ff9933;
    --dj-badge--bg-dc: #FF3333;
    --dj-badge--bg-ds: #ff6666;
    --dj-badge--bg-as: #66ff66;
    --dj-badge--bg-wf: #ffee00;
    --dj-badge--bg-ws: #FFD700;
    --dj-badge--bg-ps: #FFA500;
    --dj-badge--bg-s: #008080;
    --dj-badge--bg-completed: #3399ff;
    --dj-badge--bg-pc: #FF4D4D;
    --dj-badge--bg-canceled: #CC0000;
    --dj-badge--bg-i: #e84e0f;
    --dj-badge--bg-a: #001F3F;
    --dj-badge--bg-wa: #D3D3D3;
    --dj-badge--bg-pp: #008000;
    --dj-badge--bg-wp: #FFFF00;
    --dj-badge--color-wp: #040037;
    --dj-badge--bg-p: #008000;
    --dj-badge--bg-pp: #00FF00;
    --dj-badge--bg-op: #FFD700;
    --dj-badge--color-op: #040037;
    --dj-badge--bg-refused: #FF0000;
    --dj-badge--bg-wr: #87CEFA;
    --dj-badge--bg-pr: #4682B4;
    --dj-badge--bg-refunded: #4B0082;
    --dj-button--light-text-color: #2d509e;
    --dj-button--light-bg-color: #ffffff;
    --dj-button--light-icon-color: #2d509e;
    --dj-button--light-hover-text-color: #ffffff;
    --dj-button--light--hover-bg-color: #2d509e;
    --dj-button--light-hover-icon-color: #ffffff;
    --dj-button-icon--light-font-size: 20px;
    --dj-button-icon--light-border-radius: 3px;
    --dj-button-icon--light-box-shadow: 0px 2px 4px 1px rgba(105, 105, 105, 0.25);
    --auth-bgimage-color: rgba(0, 147, 187, 0.3);
    --menu-categories-background: #fff;
    --menu-categories-hover: #dbdbdb;
    --color-menu-font: #000;
    --color-menu-font-hover-: #000;
}
