/* BUTTON PRIMARY */

$color-button-primary: 000;
$backgroundcolor-button-primary: var(--color-primary);
$backgroundcolor-button-primary__gradient: var(--color-primary);
$backgroundcolor-button-primary__hover: var(--color-primary);
$backgroundcolor-button-primary__hover__gradient: var(--color-secondary);
$color-button-primary__border_size: 0px;
$color-button-primary__border_color: var(--color-primary);
$color-button-primary-text: #fff;
$color-button-primary-text__hover: #fff;
$color-button-primary__border_color__hover: rgb(0, 36, 78);

/* BUTTON SECONDARY */

$color-button-secondary: white;
$backgroundcolor-button-secondary: transparent;
$backgroundcolor-button-secondary__gradient: transparent;
$backgroundcolor-button-secondary__hover: var(--color-primary);
$backgroundcolor-button-secondary__hover__gradient: var(--color-primary);
$color-button-secondary__border_size: 1px;
$color-button-secondary__border_color: var(--color-primary);
$color-button-secondary-text: var(--color-primary);
$color-button-secondary-text__hover: white;
$color-button-secondary__border_color__hover: var(--color-primary);
/* BUTTON OUTLINE */

$color-button-outlined__border: var(--color-primary);
$color-button-outlined__text: var(--color-primary);
$color-button-outlined__hover: #e9e9e9;

/* BUYING ZONE*/

$buyingzone-border: 0px solid #bcbcbc;
$buyingzone-background: #f3f3f3;

/* SURCHARGE*/

$product-title-color: var(--color-text-title);
$product-price-color: var(--color-body);
$timing: cubic-bezier(0.77, 0, 0.175, 1);
$timing-1: cubic-bezier(0.7, 0, 0.3, 1);
$timing-2: cubic-bezier(0.2, 1, 0.3, 1);
$body-font-family: var(--font-1st);
$color-heading: #222;
$border-bottom: 0px solid #e3e3e3;
