.dj-block--earning-count {
    small {
        font-weight: 600;
        color: $color-text;
        font-size: 16px;
    }
    h3,
    .title__h3 {
        margin-bottom: 0;
        font-size: 24px;
    }
    @media screen and (min-width: 1680px) {
        h3,
        .title__h3 {
            font-size: 30px;
        }
    }
}
.factes {
    margin-top: 100px;
}
.widget {
    position: relative;
    .widget-title {
        margin-bottom: 2.5rem;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
    }
    &:last-child {
        border-bottom: none;
    }
}

.widget_shop {
    padding: 25px 20px;
    background-color: #f9f9f9;
    border-radius: 10px;

    @extend %list-reset;
    .widget-title {
        margin-bottom: 10px;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 23px;
        font-weight: 700;
        color: var(--color-body);
    }
    .ps-filter__btn {
        background-color: #888888;
        color: #fff;
        &:hover {
            background-color: var(--color-body-2);
        }
    }
    figure {
        padding-bottom: 30px;

        &:last-child {
            border-bottom: none;
        }
    }
    .sizes {
        a {
            display: inline-block;
            margin-bottom: 10px;
            margin-right: 10px;
            padding: 2px 20px;
            border: 1px solid #ccc;
            background-color: #ffffff;
            &:hover {
                border-color: var(--color-primary);
            }
        }
    }
    .v-input {
        margin-top: 0;
        label {
            margin-bottom: 0;
        }
        .v-messages {
            display: none;
        }
    }
}

.widget_features {
    margin-bottom: 30px;
    background-color: #f1f1f1;
    padding: 20px;
    p {
        position: relative;
        margin-bottom: 20px;
        padding-left: 50px;
        color: var(--color-body);
        line-height: 1.4em;
        i {
            position: absolute;
            top: 0;
            left: 0;
            margin-right: 10px;
            font-size: 26px;
            color: var(--color-body);
        }
    }
}

.widget_sell-on-site {
    p {
        margin-bottom: 0;
        color: var(--color-body);
        vertical-align: middle;
        i {
            font-size: 18px;
        }
        a {
            color: #06c;
        }
    }
}

.widget--vendor {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d8d8d8;
    @extend %list-reset;
    .widget-title {
        margin-bottom: 35px;
        font-size: 20px;
        color: var(--color-body);
        font-weight: 600;
    }
    .form-control {
        background-color: #fff;
        border: none;
    }
    .select2 {
        min-width: 100%;
        .select2-selection {
            border: none;
        }
        .select2-selection__rendered {
            font-size: 16px;
            color: var(--color-body-2);
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    .dj-list--arrow {
        a {
            color: var(--color-body);
            &:before {
                content: '\f105';
                font-size: 20px;
            }
        }
    }
}

.ps-widget--account-dashboard {
    .ps-widget__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 20px;
        img {
            flex-basis: 60px;
            max-width: 60px;
            border-radius: 50%;
        }
        figure {
            flex-basis: 100%;
            padding-left: 10px;
            figcaption {
                font-size: 16px;
                color: var(--color-body-2);
            }
            p {
                margin-bottom: 0;
                font-size: 16px;
                font-weight: 600;
                color: var(--color-body);
            }
        }
    }
    //AccountLists Css
    .ps-widget__content {
        @extend %list-reset;
        ul {
            //border: 1px solid #d1d1d1;
            li {
                //border-bottom: 1px solid #d1d1d1;
                a {
                    display: block;
                    padding: 20px 15px;
                    font-family: var(--font-1st);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #4d4d4f;
                    i {
                        margin-right: 10px;
                        font-size: 14px;
                    }
                    &:hover {
                        background-color: var(--color-secondary);
                        color: #fff;
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
                &.active,
                &:hover {
                    background-color: var(--color-secondary);
                    //background-color: var(--color-primary);
                    a {
                        color: #fff;
                        font-weight: 700;

                        i {
                            color: #fff;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

.dj-notify {
    margin-bottom: 10px;
    position: relative;
    padding: 15px 100px 15px 20px;
    border-radius: var(--border-radius-card);
    background-color: #fff;
    //border: 10px solid var(--color-primary);
    border-left: 8px solid var(--color-primary);
    box-shadow: 0 1px 5px 1px rgba(#ccc, 0.5);
    p {
        margin-bottom: 10px;
    }
    &.successnotif {
        border-left-color: var(--color-success);
        .dj-notify__header {
            color: var(--color-success) !important;
            .theme--light.v-icon {
                color: var(--color-success) !important;
            }
        }
    }
    &.warn {
        background: #ffb648;
        border-left-color: #f48a06;
    }
    &.errornotif {
        border-left-color: var(--color-danger);
        .dj-notify__header {
            color: var(--color-danger) !important;
            .theme--light.v-icon {
                color: var(--color-danger) !important;
            }
        }
    }
    &__close {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        transition: all 0.4s ease;
        &:hover {
            box-shadow: 0 0 10px rgba(#ccc, 1);
            background-color: #f1f1f1;
            transform-origin: 50% 50%;
            transform: translateY(-50%) rotate(180deg);
            .ps-icon--cross {
                &:before,
                &:after {
                    background-color: var(--color-body);
                }
            }
        }
    }
    &__header {
        span {
            font-weight: 600;
        }
    }
}

.swiper-arrow {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 46px;
    height: 46px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    z-index: 100;
    cursor: pointer;
    transition: all 0.25s ease;
    outline: none;
    i {
        font-size: 20px;
    }
    &:hover {
        background-color: var(--color-primary);
    }
    &.swiper-prev {
        left: 0;
    }
    &.swiper-next {
        right: 0;
    }
    &.simple {
        color: #ccc;
        background-color: transparent;
        i {
            font-size: 30px;
        }
        &:hover {
            background-color: transparent;
            color: var(--color-body);
        }
    }
    @media screen and (min-width: 1366px) {
        &.swiper-prev {
            left: -30px;
        }
        &.swiper-next {
            right: -30px;
        }
    }
    @media screen and (min-width: 1440px) {
        &.swiper-prev {
            left: -70px;
        }
        &.swiper-next {
            right: -70px;
        }
    }
}

.swiper-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 0;
    @include media('<lg') {
        display: none;
    }
}

.dj-block--demo-item {
    margin-bottom: 30px;
    .dj-block__thumbnail {
        overflow: hidden;
        border: 2px solid #eaeaea;
        img {
            transition: all 0.25s ease;
        }
        a {
            display: block;
        }
    }
    .dj-block__content {
        padding: 20px 0;
        text-align: center;
        a {
            font-weight: 600;
            font-size: 20px;
            &:hover {
                color: var(--color-primary);
            }
        }
    }
    &:hover {
        .dj-block__thumbnail {
            border-color: var(--color-primary);
        }
    }
}

.order__active {
    background-color: $color-button-primary !important;
    background: $color-button-primary !important;
    color: rgb(0, 0, 0) !important;
}

.og-btn--currency-mobile {
    letter-spacing: 0 !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
    color: var(--color-body) !important;
    background-color: var(--color-primary) !important;
}

.og-btn--language-mobile {
    letter-spacing: 0 !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
    color: #fff !important;
    background-color: var(--color-body) !important;
}

.language-item {
    font-size: 14px;
    vertical-align: middle;
}

.dj-form--quick-search {
    .ps-form__input {
        //border: 1px solid;
        position: relative;
        width: 100%;
        .v-progress-circular {
            @include vertical-align();
            right: 10px;
            z-index: 20;
        }
    }
}
