.dj-shopping-cart {
    .dj-section__content {
        /*background-color:#FFF;*/
    }
    .dj-card {
        box-shadow: none !important;
        border: none !important;
    }

    .title-supplier {
        background: white;
        padding: 10px;
        padding-left: 20px;
        .name {
            font-weight: 700;
        }
    }
    .ps-section__cart-actions {
        padding-top: 0px;
        padding-bottom: 0px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        .dj-btn {
            i {
                margin-right: 6px;
                vertical-align: middle;
            }
        }
        .dj-btn--outline {
            border-color: var(--color-body);
            color: var(--color-body);
            padding: 12px 20px;
            vertical-align: middle;
            i {
                margin-right: 6px;
                vertical-align: middle;
            }
            &:hover {
                background-color: var(--color-grey);
                border-color: var(--color-grey);
            }
        }
    }
    .ps-section__footer {
        figure {
            figcaption {
                position: relative;
                display: block;
                font-size: 20px;
                color: var(--color-body);
                margin-bottom: 35px;
                &:after {
                    content: '\e93a';
                    font-family: 'Linearicons';
                    @include vertical-align();
                    right: 0;
                }
            }
            .form-control {
                border-color: #ccc;
            }
        }
        .dj-btn--outline {
            border-color: var(--color-primary);
            color: var(--color-body);
            border-radius: 0;
            &:hover {
                background-color: var(--color-grey);
                border-color: var(--color-primary);
                color: #ffffff;
            }
        }
        .select2 {
            min-width: 100%;
            .select2-selection--single .select2-selection__rendered {
                padding: 15px 20px;
                border: #cccccc;
            }
        }
    }
    @include media('<xs') {
        .ps-section__cart-actions {
            flex-flow: row wrap;
            .dj-btn {
                width: 100%;
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }
    @media (max-width: 740px) {
        .ps-section__cart-actions {
            display: block;
        }
    }
}

.dj-block--shopping-total {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px;
    border-radius: 4px;
    @extend %list-reset;
    .dj-block__product {
        li {
            margin-bottom: 10px;
            padding-bottom: 0px;
            margin-bottom: 10px;
        }
        span {
            display: block;
            font-size: 16px;
            line-height: 24px;
        }
        .dj-block__estimate {
            strong {
                font-weight: 600;
            }
            a {
                display: block;
                font-size: 14px;
            }
        }
    }
    h3,
    .title__h3 {
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 600;
        span {
            font-weight: 600;
            float: right;
        }
    }
    .dj-block__header {
        display: block;
        margin-bottom: 5px;
        p {
            font-size: 14px;
            span {
                float: right;
            }
        }
    }
}

.dj-block--shopping-total {
    background-color: #fff;
    border: 1px solid #bfbfbf;
    .dj-block__product {
        li {
            border-bottom: 1px solid #d6d6d6;
        }
        .dj-block__shop {
            color: var(--color-body);
        }
        .dj-block__shipping {
            color: var(--color-body-2);
        }
    }
    h3,
    .title__h3 {
        span {
            color: var(--color-body-2);
        }
    }
    .dj-block__header__underline {
        border-bottom: 1px solid #ccc;
    }
}
